*.code-workspace
*.pyc
*.jpg
*.mp4
*.png
db_info.json
..bfg-report

# utils/har/*
# utils/clothing/*
# utils/detect/*
utils/clothing/yolo/weights/darknet53.conv.74
utils/clothing/yolo/weights/yolov3-df2_15000.weights
utils/clothing/yolo/weights/yolov3-modanet_last.weights
utils/clothing/yolo/weights/yolov3-tiny.weights
utils/clothing/yolo/weights/yolov3.weights

resource/weight/*
Tester/video/*